* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 1.1rem;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Light-gray);
    padding: 1rem;
}

.main__cont {
    background: var(--White);
    width: 300px;
    height: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: 60% 40%;
}

.main__img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.main__title {
    margin: 1.5rem 0;
    color: var(--Dark-blue);
    text-align: center;
    font-weight: bold;font-size: 1.2rem;
}

.main__text {
    color: var(--Grayish-blue);
    text-align: center;
}